body {
    margin: 0;
    padding: 0;
}

.headerimg {
    width: 100%;
    height: 1500px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("SE header section image.jpg");
    background-size: cover;
    position: relative;
}

.logoimg {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 5%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    font-family: Sam;
}

.header_text {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.nameofheader {
    font-size: 70pt;
    animation: fadeIn 1.25s forwards;
}

.nameofheader2 {
    font-size: 70pt;
    animation: fadeIn2 1.25s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}

@keyframes fadeIn2 {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}
