.h1_container{
    position: relative;
    margin-top: 10%;
}
.introduction_text{
    font-size: 2vw;
    text-align: center;
}
.specialization_header{
    position: relative;
    font-size: 3vw;
    text-align: center;
    margin-top: 20%;
}
.box_track_container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8%;
}
.box_track{
    text-align: center;
    width: 550px;
}
.size_text_track
{
    font-size: 1.5vw;
}
.header_track
{
    font-size: 3vw;
}
.curriculum-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust the margin-top as needed */
    flex-direction: column;
}
  

/* Style the circles with borders */
/* Style the circles with borders and space between */
.circle {
    width: 5vw;
    height: 5vw;
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    margin-top: 300px;
}
.connect_line{
    margin-top: -5px;
    border-left: 1vw solid white;
    height: 500px;
}

.circle_children { 
    margin-top: -5px;
}
.KMITL_Glassgow_header{
    position: relative;
    font-size: 3vw;
    text-align: center;
    margin-top: 30%;
}
.Glasgow_text{
    display: flex;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size: 2vw;
    text-align: center;
    
}

  
