@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: large;
    font-weight: 600;
    
}

body {
	
	/*background-color: rgb(8, 6, 6);*/
	background-color: lightcyan;
	margin: 0;
	padding: 0;
}
.container{
    background-color: white;
    max-width: 1400px;
  	width: 100%;
  	padding: 60px 0;
}
.slide-container {
	margin: 0 30px;
}

.card-image {
	width: 100px;
	height: 30px;
}
.card .image-box{
	height: 200px;
    background-color: lightblue;
}
.card .image-box img {
	width: 100%;
	height: 100%;
	border-radius: 20px 20px 0 0;
    padding: 10px 10px;
}
.card {
	width: 90%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.swiper-navBtn {
	color: #000;
	height: 2rem;
	width: 1.7rem;
	transform: translateY(-50%);
	background: lightblue;
	border-radius: 70%;
}
.swiper-navBtn::before, .swiper-navBtn::after {
	font-size: 24px;
}
    
.swiper-pagination-bullet {
	
	background-color: #333;
}
    
@media screen and (max-width: 768px) {
	.swiper-navBtn {
	  display: none;
	}
}

