.h1_container{
    position: relative;
    margin-top: 10%;
}
.introduction_text{
    font-size: 2vw;
    text-align: center;
}
.specialization_header{
    font-size: 3vw;
    text-align: center;
}
.box_track_container{
    display: flex;
    border: 1px solid white;
    justify-content: space-evenly;
}
.box_track{
    border: 1px solid white;
    text-align: center;
    width: 500px;
}