<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Swiper CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

	<!-- Flowbite CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.css" rel="stylesheet" />
	

	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
	

	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js" defer></script>
      
	<script src="https://cdn.jsdelivr.net/npm/editorjs-parser@1/build/Parser.browser.min.js" defer></script>

	<script src="js/eachBlog.js" defer></script>
	<script src="js/autoTypingEffect.js" defer></script>
</head>

<body>
	<!-------------------------------------------- Header -------------------------------------------->

	
	
	<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased">
		<div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
			<article
				id="eachBlog"
				class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
				{{html}}
				
			</article>
		</div>
	</main>

	
	<!-------------------------------------------- Footer -------------------------------------------->
	


	
</body>

</html>